name: Deploy

on:
  push:
    branches:
      - main
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: npm install
      - name: Build and export
        env:
          NODE_OPTIONS: --max_old_space_size=8192
        run: npm run build
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: dist
      - uses: vimtor/action-zip@v1.2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dist/
          dest: lyrthing-app-${{ github.event.release.tag_name }}.zip
      - name: Upload artifacts to release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: lyrthing-app-${{ github.event.release.tag_name }}.zip
